<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.celsiuscloud">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_aplicacion"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_aplicacion"
        android:supportsRtl="true"
        android:theme="@style/HiddenTitleTheme">
        <activity android:name=".Pantallas.MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Pantallas.startscreen"/>
        <activity
            android:name=".Pantallas.loginscreen"/>
        <activity
            android:name=".Pantallas.createprofilescreen"/>
        <activity
            android:name=".Pantallas.registerscreen"/>
        <activity
            android:name=".Pantallas.avatar_userpickerscreen"/>
        <activity
            android:name=".Pantallas.avatar_profilepickerscreen"/>
        <activity
            android:name=".Pantallas.clientescreen"/>
        <activity
            android:name=".Pantallas.perfilscreen"/>
        <activity
            android:name=".Pantallas.blescreen"/>
        <activity
            android:name=".Pantallas.addnota"/>
        <activity
            android:name=".Pantallas.addsintoma"/>
        <activity
            android:name=".Pantallas.addtemperatura"/>
        <activity
            android:name=".Pantallas.addfoto"/>
        <activity
            android:name=".Pantallas.shownota"/>
        <activity
            android:name=".Pantallas.showtemperatura"/>
        <activity
            android:name=".Pantallas.showsintoma"/>
        <activity
            android:name=".Pantallas.showfoto"/>
    </application>

</manifest>